@import url('https://fonts.googleapis.com/css?family=Orbitron:500|Prompt:400,700&display=swap');

@font-face{
  font-family: "Revue";
  src: url('../fonts/revue/revuen.ttf') format('truetype');
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
  font-size: 10px;
  background-color: #076324;
}

#container{
	width:800px; 
	margin:0 auto;
	position: relative;	
}

h1{
  font-family: "Revue", sans-serif;
  text-align: center;
  font-size: 4em;
  color: #FFF;
  text-shadow: 0px 0px 5px #000;
  margin: .5em;

}
#left{
  width: 24em;
  float:left;
  height: 45em;
  border: 15px solid #FFD500;
  border-radius: 5em;
  margin: 6.2em 5em;
  background-color: #fff2b3;
}
#left button.btn{
  margin-top: 2em;
  font-size: 2em;
  padding: 1em;
  width: 100%;;
}

#diceArea { margin-top: .5em; }
.dieContainer {
  height: 8em;
  margin: .25em 4em .25em 5em;
}
.dieContainer button{
  display: block;
  border-radius: 1em;
  height: 7em;
  width: 7em;
  float: left;
  outline: none;
}

.dieContainer button.locked{
  border: 2px solid #1eba55;  
  background-color: #C6F7D7;
}

.dieContainer button:after{
  display: block;
  margin-top: -.2em;
  margin-left: .03em;
	text-align: center;
	white-space: pre;
	line-height: .4;
	font-size: 5em;
	word-spacing: -.1em;
}
.dieContainer button.dice_number_1:after{
  content: "\00A0\00A0\2022\00A0\00A0";
}
.dieContainer button.dice_number_2:after{
  content: "\2022\00A0\00A0\00A0\00A0\00A0\00A0\00A0 \A\A\00A0\00A0\00A0\00A0\00A0\00A0\00A0\2022";
}
.dieContainer button.dice_number_3:after{
  content: "\2022\00A0\00A0\00A0\00A0\00A0\00A0\00A0 \A\2022 \A\00A0\00A0\00A0\00A0\00A0\00A0\00A0\2022";
}
.dieContainer button.dice_number_4:after{
  content: "\2022\00A0\00A0\00A0\2022 \A \A\2022\00A0\00A0\00A0\2022";
}
.dieContainer button.dice_number_5:after{
  content: "\2022\00A0\00A0\00A0\2022 \A\2022 \A\2022\00A0\00A0\00A0\2022";
}
.dieContainer button.dice_number_6:after{ 
	content: "\2022\00A0\00A0\00A0\2022\A\2022\00A0\00A0\00A0\2022 \A\2022\00A0\00A0\00A0\2022";
}

.dieContainer .diceSave{
  font-size: 4em;
  float: right;
  display: none;
  margin-top: .3em;
}
.dieContainer .diceSave:after{
  content: "\2714";
  color: #1eba55;
}
.dieContainer .diceSave.saved{
  display: block;
}

table{
  border-collapse: collapse;
  font-family: 'Prompt', sans-serif;
}
table tbody {
  font-size: 1.2em;
}
table th, table td{
  border: 2px solid #aaa;
  padding: 5px;
  background-color: #FFF;
  height: 2.5em;
}
table th{
  text-align: left;
  width: 12em;
  background-color: #ddd;
  font-weight: 700;
}
table td.instructions{
  width: 16em;
  background-color: #ddd;
}
table th.short{
  width:5em;
}
table input {
  width:3em;
  border: none;
  outline: none;
  text-align: right;
  font-family: 'Orbitron', monospace;
  color: #aaaaaa;
}
table input:disabled, table.input.locked{
  color: #000;
}
table input:not(:disabled):hover{
  color: #1eba55;
}